<h1><%= @script.name %></h1>
<% if @script.editors.include?(current_user) %>
<%= link_to(I18n.t(:edit), :controller=>:scripts, :action=>:edit, :id=>@script.id) %><br/>
<br/>
<% end %>

<b><%= I18n.t(:pitch) %></b><br/>
<%= simple_format @script.pitch %>
<br/>
<b>Chapitre 1</b><br/>
<br/>
Ici les chapitres et paragraphes
