<div class="text_content">
<div class="accordion-toggle">Fais ton scénario !</div>
<br/>
Ecris un scénario de film, ou ton roman en ligne.<br/>
<br/>
Développe les personnages et les lieux de l'action, puis invite tes amis pour relire ou même compléter l'histoire. Ils peuvent être associés à plusieurs droits d'édition différents.<br/>
<br/>
Rend-le publique et deviens célèbre !<br/>
</div>

